pkgbase = tuxedo-drivers-dkms
	pkgdesc = Kernel modules for TUXEDO devices (DKMS)
	pkgver = 4.20.1
	pkgrel = 1
	url = https://github.com/tuxedocomputers/tuxedo-drivers
	install = tuxedo-drivers-dkms.install
	arch = any
	license = GPL-2.0-or-later
	depends = dkms
	optdepends = udev-hid-bpf: Fixes for Sirius 16 Gen1/2 keyboard
	provides = tuxedo-drivers
	provides = tuxedo-cc-wmi
	provides = tuxedo-keyboard
	provides = tuxedo-keyboard-dkms
	provides = tuxedo-keyboard-ite
	provides = tuxedo-touchpad-fix
	provides = tuxedo-wmi-dkms
	provides = tuxedo-xp-xc-airplane-mode-fix
	provides = tuxedo-xp-xc-touchpad-key-fix
	conflicts = tuxedo-drivers
	conflicts = tuxedo-cc-wmi
	conflicts = tuxedo-keyboard
	conflicts = tuxedo-keyword-dkms
	conflicts = tuxedo-keyboard-ite
	conflicts = tuxedo-touchpad-fix
	conflicts = tuxedo-wmi-dkms
	conflicts = tuxedo-xp-xc-airplane-mode-fix
	conflicts = tuxedo-xp-xc-touchpad-key-fix
	replaces = tuxedo-cc-wmi
	replaces = tuxedo-keyboard
	replaces = tuxedo-keyboard-dkms
	replaces = tuxedo-keyboard-ite
	replaces = tuxedo-touchpad-fix
	replaces = tuxedo-wmi-dkms
	replaces = tuxedo-xp-xc-airplane-mode-fix
	replaces = tuxedo-xp-xc-touchpad-key-fix
	source = tuxedo-drivers-4.20.1.tar.xz
	sha256sums = SKIP

pkgname = tuxedo-drivers-dkms
